.search {
	background-image: url(../images/TMDB.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 300px;
}

.search__content {
	padding-top: 40px;
}

.search__title {
	color: #ffffff;
	padding: 0 20px 0 20px;
}

.search__bar {
	width: 100%;
	height: 46px;
	line-height: 46px;
  font-size: 1.1em;
  padding: 10px 20px;
}

.search__bar input{
	color: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 30px;
}
